@charset "utf-8";
/* CSS Document */

/* DEFINITION LIST PROGRESS BAR */

.dt {
	margin:3px;
	margin-top:6px;
	background-color:none;
	padding:0px;
	text-align:left;
	font-size:0.9em;
	color:#B05800;
}

.dd{
	width:412px;
	height:24px;
	background:url(bg_bar.gif) no-repeat 0 0;
	position:relative;
    margin:0;
    padding:5px;	
}

.dd span{
	position:absolute;
	display:block;
	width:400px;
	height:16px;
	background:url(bar.gif) no-repeat 0 0;
	background-color:none;
	top:5px;
	left:5px;
	overflow:hidden;
	text-indent:-8000px;
}

.dd em{
	position:absolute;
	display:block;
	width:400px;
	height:16px;
	background:url(bg_cover.gif) repeat-x;
	background-color:none;
	top:0;
}

